[user]
	email = pady@dhigroup.com
	name = Patryk Dyndał
[core]
	autocrlf = false
	editor = vim
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
