[user]
	email = pady@dhigroup.com
	name = Patryk Dyndał
[core]
	autocrlf = true
	editor = vim
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[pull]
	rebase = false
